/* Categories */


button.catBtn {
  text-align: left;
  width: 100%;
  background-color: #fff;
  border: none;
  padding-top: 10px;
  padding-left: 0px;

}

button.catBtn:focus {
  outline-color: #fff;
}

.categoryContainer .list-group {
  border-bottom: 1px solid #ddd;
}

.categoryContainer .list-group .input-group {
  padding-bottom: 5px;
}

.categoryContainer span.input-group-btn button.btn-default {
  border: none;
}

.categoryContainer .input-group-btn button.btn.btn-default {
  padding-right: 0px;
  margin-top: 3px;
}

.glyphicon-trash:hover {
  background-color: #f5f5f5;
  color: #555;
}


.editable-click, a.editable-click {
  text-decoration: none;
  color: #555;
  border-bottom: none;
}

.editable-click:hover, a.editable-click:hover {
  text-decoration: none;
  color: #7b7b7b;
  border-bottom: dashed 1px #999;
}

span.glyphicon-pencil {
  display: none;
}
.catBtn a.editable-click:hover span.glyphicon-pencil {
  color:#999;
}
a.editable-click:hover span.glyphicon.glyphicon-pencil {
  display: inline;
  padding-left: 3px;
}

