<div class="categoryContainer">
  <div ng-show="integral">
    <button class="catBtn" ng-click="integralSelected()">
      List templates
    </button>
  </div>
  <div ng-hide="integral">
    <div class="list-group" ng-repeat="category in categories">
      <div class="input-group">
        <button class="catBtn" ng-click="categorySelected(category)">
          <a href="#" editable-text="category.name" onbeforesave="categoryNameChanged($data, category._id)">{{ category.name || 'empty' }} <span class="glyphicon glyphicon-pencil"></span></a>

        </button>
    <span class="input-group-btn">
      <button type="button" class="btn btn-default" ng-click="deleteCategory(category._id, $index)" class="trash"><span class="glyphicon glyphicon-trash"></span></button>
    </span>
      </div>
    </div>
    <form class="category-form">
      <label>Add new category</label>
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Add a new category." ng-model=newCategory>
    <span class="input-group-btn">
      <button type="submit" class="btn btn-primary" ng-click="addCategory()">Add Category</button>
    </span>
      </div>
    </form>
  </div>
</div>


