a.accordion-toggle:hover {
  text-decoration: none;
  cursor: pointer;
}
h4.panel-title > a {
  display: block;
}
.subheader{
  background-color: #f4f4f4;
  position: relative;
  padding: 10px 0px;
  margin-top: -20px;
}

.subheader label {
  padding-top: 10px;
  color: #7C7C7C;
}

.subheader select {
  overflow: auto;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 0.01px;
  text-overflow: '';
  -o-appearance: none;
  -webkit-appearance: none;
  background-color: #ffffff;
  width: 100%;
  height: 40px;
  border: 1px solid #d4d4d4;
  font-size: 14px;
  padding-left: 20px;
  background-image: url('/assets/images/select_arrow.png');
  background-repeat: no-repeat;
  background-position-x: 95%;
  border-radius: 3px;
}
