
/**
 * Bootstrap Fonts
 */

@font-face {
    font-family: 'Glyphicons Halflings';
    src: url('../bower_components/bootstrap/fonts/glyphicons-halflings-regular.eot');
    src: url('../bower_components/bootstrap/fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'),
    url('../bower_components/bootstrap/fonts/glyphicons-halflings-regular.woff') format('woff'),
    url('../bower_components/bootstrap/fonts/glyphicons-halflings-regular.ttf') format('truetype'),
    url('../bower_components/bootstrap/fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}

/**
 *Font Awesome Fonts
 */

@font-face {
    font-family: 'FontAwesome';
    src: url('../bower_components/font-awesome/fonts/fontawesome-webfont.eot?v=4.1.0');
    src: url('../bower_components/font-awesome/fonts/fontawesome-webfont.eot?#iefix&v=4.1.0') format('embedded-opentype'),
    url('../bower_components/font-awesome/fonts/fontawesome-webfont.woff?v=4.1.0') format('woff'),
    url('../bower_components/font-awesome/fonts/fontawesome-webfont.ttf?v=4.1.0') format('truetype'),
    url('../bower_components/font-awesome/fonts/fontawesome-webfont.svg?v=4.1.0#fontawesomeregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/**
 * App-wide Styles
 */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* Layout */
.align-items {
  display: flex;
  align-items: center;
}
.align-center {
  text-align: center;
}
.float-right {
  float: right;
}

/* Navbar */
.navbar-default .navbar-brand, .navbar-default .navbar-brand:hover {
  color: #FFF;
}
.navbar-default .navbar-text {
  color: #fff;
}
.navbar-default {
  background-color: #09A590;
  border-color: #0A8772;
}

.navbar-default .navbar-nav > li > a, .navbar-default .navbar-nav > li > a:hover  {
  color: #FFF;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover  {
  color: #fff;
  background-color: #0A8772;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #09A590;
}

.navbar-brand {
  padding: 8px 15px;
}

.navbar-brand img {
  height: 33px;
}

@media (max-width: 767px) {

  div#navbar-main {
    background-color: #fff;
  }
  .navbar-default .navbar-text {
    color: #555;
    padding-left: 15px;
    padding-top: 15px;
    border-top: 1px solid #ddd;
  }
  .navbar-default .navbar-nav > li > a {
    color: #555;
  }
  .navbar-default .navbar-nav > .active > a {
    color: #555;
    background-color: #f4f4f4;
  }
  .navbar-default .navbar-toggle {
    border-color: #09A590;
  }
  .navbar-default .navbar-toggle .icon-bar {
    background-color: #0A8772;
  }
  .navbar-default .navbar-toggle .icon-bar:hover {
    background-color: #0A8772;
  }
}

/* General*/
.btn {
  border-radius: 3px;
}

.btn:focus {
  color: #FFF;
}

.btn-primary {
  color: #fff;
  background-color: #55b79b;
  border-color: #0a8772;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {
  color: #fff;
  background-color: #0a8772;
  border-color: #1AB097;
}

.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default {
  color: #333;
  background-color: transparent;

}

.glyphicon-trash {
  padding: 10px;
  border: 1px solid transparent;
}

.panel {
  border-radius: 0px;
}

.form-control:focus {
  border-color: #55B79B;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(85, 183, 155, 0.35);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(85, 183, 155, 0.35);
}

button.btn.btn-default:focus {
  outline-color: rgba(255, 255, 255, 0);
}
.glyphicon:focus {
  outline-color: rgba(255, 255, 255, 0);
}

.btn:active, .btn.active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.panel-group .panel {
  border-radius: 0px;
}

.panel-default > .panel-heading {
  border-color: transparent;
}
