<div class="container">
  <div class="col-lg-9">
    <h2>Questions</h2>
    <div ui-tree>
      <ol ui-tree-nodes="" ng-model="list">
        <li ng-repeat="item in list" ui-tree-node>
          <div ui-tree-handle>
            {{item.title}}
          </div>
          <ol ui-tree-nodes="" ng-model="item.items">
            <li ng-repeat="subItem in item.items" ui-tree-node>
              <div ui-tree-handle>
                {{subItem.title}}
              </div>
            </li>
          </ol>
        </li>
      </ol>
    </div>
  </div>
  <div class="col-lg-3">
    <h2>Selected Questions</h2>
    <ul>
      <li ng-repeat="item in items">{{ item.name }}</li>
    </ul>
  </div>
</div>
