<div class="page {{ pageClass }}">
  <!-- home.html -->
  <div ng-show="inexistent">
    <div ng-include="'components/navbar/navbar.html'"></div>
    <div class="subheader">
      <div class="container">
        <h1>El cuestionario al que intentas acceder no existe.</h1>
      </div>
    </div>
    <div class="container">
      <h1>MUTERFUCKER!!!!</h1>
      <h2>EL CUESTIONARIO NO EXISTE!!!!</h2>
    </div>
  </div>
  <!--  Inactive questionary -->
  <div ng-show="questionary && !questionary.active" class="container">
    <h1>El questionario no está activo!!!!</h1>

  </div>
  <div ng-show="questionary && questionary.active">
    <div class="home text-center">
      <div class="container">
        <h1> {{ questionary.userName || 'Anónimo'}} quiere conocer tu opinión sobre {{ questionary.name }} </h1>

        <p>Los datos recogidos en este cuestionario se enviarán a {{ questionary.userName || 'Anónimo'}} de forma anónima.</p>
        <br/>
        <button ng-click="start()" class="btn mar-top10">COMENZAR</button>
      </div>
    </div>
    <div class="homeFooter container">
      <div class="logo col-lg-6 col-md-6 col-sm-6 col-xs-5">
        <img src="/assets/images/logo.png">
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-7">
        <h2>Una opinión, una donación</h2>
        <p class="small">Al final del cuestionario podrás elegir a qué ONG se destinará la donación que Groween realizará por ti.</p>
      </div>
    </div>
  </div>
</div>
