<div class="page {{ pageClass }}">
<!-- last.html -->
    <div class="last text-center">
        <div class="logo col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <img src="/assets/images/logo.png">
        </div>
        <div class="whitebox col-lg-12 col-md-12 col-sm-12 col-xs-12 mar-bot20">

                <p class="mar-bot10 boxtitle">DONACIONES TOTALES GENERADAS A TRAVÉS DE GROWEEN</p>
                <p class="mar-bot20 number">{{ donations | number:2 }} €</p>
                <hr>
                <p class="mar-bot10 boxtitle">GRACIAS A TI GROWEEN REALIZARÁ UNA DONACIÓN A {{ selectedOng }} POR VALOR DE</p>
                <p class="number">{{ yourDonation| number:2 }} €</p>

        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 align-center">
            <p class="boxtitle">COMPARTIR</p>
             <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 align-center">
                 <a href="mailto:?subject=He%20donado%200,01€%20con%20Groween&body=Gracias%20a%20mi%20Groween%20ha%20donado%200,01€%20a%20una%20ONG%20por%20responder%20un cuestionario.%20Pide%20tus%20propios%20feedbacks%20desde%20la%20aplicaci%C3%B3n%20www.groween.com">
                 <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-envelope fa-stack-1x fa-inverse"></i>
                </span>
                 </a>
             </div>
             <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 align-center">
                <a href="https://www.facebook.com/sharer/sharer.php?u=http%3A//www.byvapps.com">
                 <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                </span>
                 </a>
             </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 align-center">
                 <a href="https://twitter.com/home?status=Groween%20ha%20donado%200,01%E2%82%AC%20a%20una%20ONG%20gracias%20a%20mi%20feedback.%20Pide%20tus%20propios%20feedbacks%20desde%20la%20aplicaci%C3%B3n%20www.groween.com">
                 <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                </span>
                </a>
             </div>

        </div>


    </div>
</div>
