/* Questions */
ul.questions {
  padding-left: 0;
}

ul.questions li {
  list-style: none outside none;
  background-color:#fff;
  padding: 10px 0px;
  margin: 10px 0;
  border-bottom: 1px solid #ddd;
  min-height: 55px;
}

.templatePanel .panel-body .questions a {
  padding-top: 10px;
  margin: 0;
  margin-bottom: 10px;
}

.questions .glyphicon-trash {
  margin-right: 10px;
}

.question-form {
  padding: 15px;
}

.questions .editable-input.editable-has-buttons {
  min-width: 190%;
}
