<ul ui-sortable="sortableOptions" ng-model="questions" class="questions">
  <li ng-repeat="question in questions">
    <div class="col-lg-10 col-sm-9">
      <a href="#" editable-text="question.name" onbeforesave="questionNameChanged($data, question._id)">{{ question.name || 'empty' }}<span class="glyphicon glyphicon-pencil"></span></a>
    </div>
    <div class="col-lg-2 col-sm-3">
      <a ng-click="deleteQuestion(question._id, $index)" class="trash"><span class="glyphicon glyphicon-trash pull-right"></span></a>
      <div class="float-right">
        <div class="handle btn btn-primary"><i class="glyphicon glyphicon-move"></i></div>
      </div>
    </div>

  </li>
</ul>

<!-- New Question -->
<form class="question-form">
  <label>Create new question</label>
  <br />
  <label>Select topic</label>
  <input type="text" ng-model="newTopic" typeahead="topic as topic.name for topic in topics" class="form-control">

  <br /><br />
  <label>Enter question text</label>
  <p class="input-group">
    <input type="text" class="form-control" placeholder="Question" ng-model=newQuestion>
      <span class="input-group-btn">
        <button type="submit" class="btn btn-primary" ng-click="addQuestion()">Add Question</button>
      </span>
  </p>
</form>
