<div>
  <div class="col-lg-4">
    <div ng-show="ngo.image">
      <img ng-src="{{ngo.imageUrl}}">
      <button ng-click="deleteImage()"> BORRAR </button>
    </div>
    <div ng-hide="ngo.image">
      <form>
        <input type='file' ng-model='image64' accept="image/*" onload="onLoad" base-sixty-four-input>
        <span ng-show="form.file.$error.accept">Files must be an image</span>
      </form>
    </div>
  </div>
  <div class="col-lg-4">
    <a class="templateTitle" href="#" editable-text="ngo.name" onbeforesave="ngoNameChanged($data, ngo._id)">{{ ngo.name || 'empty' }}<span class="glyphicon glyphicon-pencil"></span></a>
    <div class="descriptionArea">
      <h3>Description:</h3>
      <a href="#" editable-textarea="ngo.description" onbeforesave="ngoDescriptionChanged($data, ngo._id)">{{ ngo.description || 'empty' }}<span class="glyphicon glyphicon-pencil"></span></a>
    </div>
    <div class="descriptionUrl">
      <h3>Url:</h3>
      <a href="#" editable-text="ngo.url" onbeforesave="ngoUrlChanged($data, ngo._id)">{{ ngo.url || 'empty' }}<span class="glyphicon glyphicon-pencil"></span></a>
    </div>

  </div>
</div>
