
/* Template header */

.activateTemplate {
  border-top: 1px solid #ddd;
  text-align: right;
  padding: 10px;
}

.activateTemplate span {
  padding-right: 10px;
}

.panel-heading .glyphicon-trash:before {
  content: "\e020";
  color: #555;
}
.templateTitleContainer {
  height: 42px;
}

.templateTitle {
  font-size: 1.5em;
  margin-bottom: 15px;
  display: inline-block;
}
.templateTitle span.glyphicon.glyphicon-pencil {
  font-size: 0.7em;
  margin-left: 5px;
}

.templateTitleContainer span.glyphicon-trash {
  padding-top: 10px;
  border: 1px solid transparent;
}
.panel-heading .toggle-switch {
  border: 1px solid #ddd;
  cursor: pointer;
  min-width: 80px;
}

.templatePanel .panel-body {
  padding: 0px;
}

.templatePanel .panel-body h3 {
  background-color: #FaFaFa;
  padding: 8px 15px;
  font-size: 1.2em;
  border-bottom: 1px solid #ddd;
  border-top: 1px solid #ddd;
  margin-top: 0px;
  margin-bottom: 0px;
}

.templatePanel .panel-body a {
  margin: 0px 15px;
}
.descriptionArea {
  height: 85px;
}
.templatePanel .panel-body div.descriptionArea a {
  margin-top: 35px;
  display: inline-block;
}
.editable-textarea {
  margin: 20px 0px 0px 20px;
}
textarea.editable-has-buttons.editable-input {
  min-width: 222%;
  display: inline-block;
  margin-bottom: 20px;
}

.toggle-switch .knob {
  background-color: #FFFFFF
}
.toggle-switch .switch-left {
  background: #55B79B;
}

i.glyphicon-move {
  color: #8D8D8D;
}
div.handle {
  color: #fff;
  background-color: #FFFFFF;
  border-color: #FFFFFF;
  margin-top: 1px;
  margin-right: 5px;
  padding: 7px 10px;
}
div.handle:hover {
  background-color: #f5f5f5;
  border: 1px solid #ddd;
}

.btn-primary:active {
  color: #fff;
  background-color: #F5F5F5;
  border-color: #F5F5F5;
}
.glyphicon-trash {
  color: #555;
}
.glyphicon-trash {
  padding: 10px;
}
.glyphicon-trash:hover {
  background-color: #f5f5f5;
  color: #555;
  border: 1px solid #ddd;
}

.panel-heading .glyphicon-trash:hover {
  background-color: #ddd;
  border: 1px solid #C8C8C8;
}

.newTemplate {
  border: 1px solid #ddd;
  padding: 15px;
  background-color: #F5F5F5;
  margin-bottom: 40px;
}
