<div ng-hide="visible">
  <h2>Templates</h2>
  <p>Select a category to see and edit templates</p>
</div>
<div ng-show="visible">
  <h2>Templates for {{ selectedCategory.name || 'Estudios Integrales' }}</h2>
  <div ng-repeat="template in templates">
    <div class="panel panel-default templatePanel">
      <div class="panel-heading">
        <div class="templateTitleContainer">
          <a class="templateTitle" href="#" editable-text="template.name" onbeforesave="templateNameChanged($data, template._id)">{{ template.name || 'empty' }}<span class="glyphicon glyphicon-pencil"></span></a>
          <a ng-click="deleteTemplate(template._id, $index)"><span class="glyphicon glyphicon-trash pull-right"></span></a>
        </div>

        <div class="row activateTemplate ">
          <div class="float-right">
            <div class="align-items">
              <span>Active</span>
              <toggle-switch ng-model="template.active" ng-change="activeChanged($index)">><toggle-switch>

            </div>
          </div>

        </div>
      </div>
      <div class="panel-body">
        <h3>Description:</h3>
        <div class="descriptionArea">
          <a href="#" editable-textarea="template.description" onbeforesave="templateDescriptionChanged($data, template._id)">{{ template.description || 'empty' }}<span class="glyphicon glyphicon-pencil"></span></a>
        </div>

        <h3>Questions:</h3>
        <questions-dir></questions-dir>
      </div>
    </div>
  </div>
  <form class="template-form newTemplate">
    <label>Add new template</label>
    <p class="input-group">
      <input type="text" class="form-control" placeholder="Template name." ng-model=newTemplate>
          <span class="input-group-btn">
            <button type="submit" class="btn btn-primary" ng-click="addTemplate()">Add Template</button>
          </span>
    </p>
  </form>
</div>
