<div ng-include="'components/navbar/navbar.html'"></div>
<div class="subheader">
  <div class="container">
    <h1>NGOs {{ ( total | number:2) + "€" }} generated</h1>
  </div>
</div>
<div class="container">
  <div class="col-lg-12">
    <h2>Ongs</h2>
    <accordion close-others="oneAtTime">
      <accordion-group ng-repeat="ngo in ngos" is-open="ngo.isOpen">
        <accordion-heading>
          <div style="height: 40px;">
            <div class="col-lg-8">
              <div class="templateTitle">{{ ngo.name || 'empty' }}</div>
            </div>
            <div class="col-lg-2" ng-hide="ngo.totalDonation == 0">
              {{ ( ngo.totalDonation | number:2 ) + "€" }}
            </div>
            <div class="col-lg-2" ng-hide="ngo.totalDonation != 0">
              <a ng-click="$event.stopPropagation();deleteNgo(ngo._id, $index)"><span class="glyphicon glyphicon-trash pull-right"></span></a>
            </div>
            <div class="col-lg-1">
              <toggle-switch ng-click="$event.stopPropagation()" ng-model="ngo.active" ng-change="activeChanged($index)">><toggle-switch>
            </div>
            <div class="col-lg-1">
              <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': ngo.isOpen, 'glyphicon-chevron-right': !ngo.isOpen}"></i>
            </div>
          </div>
        </accordion-heading>
        <ngo-dir></ngo-dir>
      </accordion-group>
    </accordion>
    <form class="ngo-form newNgo">
      <label>Add new ngo</label>
      <p class="input-group">
        <input type="text" class="form-control" placeholder="Ngo name." ng-model=newNgo>
          <span class="input-group-btn">
            <button type="submit" class="btn btn-primary" ng-click="addNgo()">Add Ngo</button>
          </span>
      </p>
    </form>
  </div>

</div>
